<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoau.bigdata.mapper.drill.TrackMapper">

    <!-- 根据发车编号查询扫描记录-->
    <select id="queryWaybillNoInfo" resultType="com.hoau.bigdata.entity.drill.TrackRecordEntity">
        SELECT
            waybillNo,
            stateType,
            currentStateTime,
            deliveryCompany,
            destinationCompany,
            loadType,
            transferType
        FROM
            myhive.track.tracktable
            WHERE waybillNo = '${waybillNo}'
            ORDER BY currentstatetime DESC LIMIT 1
    </select>

</mapper>