@charset "UTF-8";
/* CSS Document */
.bg {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    /*height: 100%;*/
    background: url(../images/bg2.jpg) no-repeat;
    background-size: cover;
    /*padding-top: 0rem;*/
    /*padding: 0rem 0.2rem;*/

}

.bg h3 {
    font-size: 0.08rem;
    color: #fff;
    text-align: left;
    margin-left: 0.4rem;
}

.title {
    width: 100%;
    font-size: 0.12rem;
    line-height: 0.3rem;
    color: rgba(14, 253, 255, 1);
    text-align: center;
    font-weight: bold;
}

.border_bg_leftTop {
    position: absolute;
    left: -0.008rem;
    top: -0.04rem;
    width: 0.37rem;
    height: 0.05rem;
    display: block;
    background: #01279d url(../images/title_left_bg.png) no-repeat;
    background-size: cover;
}

.border_bg_rightTop {
    position: absolute;
    right: -0.01rem;
    top: -0.01rem;
    width: 0.1rem;
    height: 0.1rem;
    display: block;
    background: url(../images/border_bg.jpg) no-repeat;
    background-size: cover;
}

.border_bg_leftBottom {
    position: absolute;
    left: -0.008rem;
    bottom: -0.008rem;
    width: 0.1rem;
    height: 0.1rem;
    display: block;
    background: url(../images/border_bg.jpg) no-repeat;
    background-size: cover;
}

.border_bg_rightBottom {
    position: absolute;
    right: -0.01rem;
    bottom: -0.01rem;
    width: 0.08rem;
    height: 0.08rem;
    display: block;
    background: url(../images/title_right_bg.png) no-repeat;
    background-size: cover;
}

.upleftMain {
    margin-left: 0.15rem;
    width: 48%;
    float: left;
    padding-right: 0.05rem;
}

.uprightMain {
    margin-left: 0.05rem;
    width: 49%;
    float: left;
    padding-right: 0.1rem;
}

.downleftMain {
    margin-left: 0.15rem;
    width: 48%;
    float: left;
    padding-right: 0.05rem;
    padding-top: 0.03rem;
}

.downrightMain {
    margin-left: 0.05rem;
    width: 49%;
    float: left;
    padding-right: 0.1rem;
    padding-top: 0.03rem;
}

/*左上角--效率监控看板-到货--------------start------------*/
.upleftMain .upleftMain_In {
    border: 0.008rem solid rgba(14, 253, 255, 0.5);
    width: 100%;
    height: 450px;
    position: relative;
    padding: 0rem 0rem 0.08rem 0.05rem;
}

.upleftMain .upleftMain_In .biaoge {
    min-height: 400px;
}

.upleftMain .upleftMain_In .biaoge_list {
    /*overflow: hidden;*/
    overflow-x: scroll;
    overflow-y: scroll;
    position: relative;
    white-space: nowrap;
}

.upleftMain .upleftMain_In .biaoge_list .biaoge_listIn {
    overflow: hidden;
    position: relative;
}

.upleftMain .upleftMain_In .biaoge_list .biaoge_listIn .ul_title {
    overflow: hidden;
    position: relative;
}

.upleftMain .upleftMain_In .biaoge_list .biaoge_listIn .ul_list {
    overflow: hidden;
    position: relative;
}

/*.upleftMain .upleftMain_In .biaoge_list .biaoge_listIn .ul_listIn {*/
/*-webkit-animation: 14s gundong linear infinite normal;*/
/*animation: 14s gundong linear infinite normal;*/
/*position: relative;*/
/*}*/

/*@keyframes gundong {*/
/*0% {*/
/*-webkit-transform: translate3d(0, 0, 0);*/
/*transform: translate3d(0, 0, 0);*/
/*}*/
/*100% {*/
/*-webkit-transform: translate3d(0, -30vh, 0);*/
/*transform: translate3d(0, -30vh, 0);*/
/*}*/
/*}*/

.upleftMain .upleftMain_In.biaoge_list .ul_title ul {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.upleftMain .upleftMain_In .biaoge_list .ul_title .ul_titleIn {
    background: linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
}

.upleftMain .upleftMain_In .biaoge_list .ul_title ul li {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #fff;
    font-size: 0.03rem;
    height: 0.06rem;
    margin-top: 0.01rem;
}

.upleftMain .upleftMain_In .biaoge_list ul li:frist-child {
    text-align: left;
}

.upleftMain .upleftMain_In.biaoge_list .ul_list ul {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.upleftMain .upleftMain_In .biaoge_list .ul_list ul li {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #fff;
    font-size: 0.03rem;
    height: 0.06rem;
    margin-top: 0.01rem;
    margin-left: 0.01rem;
}

.upleftMain .upleftMain_In .biaoge_list .ul_list .ul_con {
    border-bottom: 0.008rem solid rgba(14, 253, 255, 0.5);
}

/*滚动条整体*/
.upleftMain .upleftMain_In .biaoge_list::-webkit-scrollbar {
    /*width: 6px;*/
    height: 15px;
}

/*滚动条滑块*/
.upleftMain .upleftMain_In .biaoge_list::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px #d8d8d8;
    background: #01279d;
}

/*滚动条轨道*/
.upleftMain .upleftMain_In .biaoge_list::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.01);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0);
}

/*去除滚动条交汇白方块*/
.upleftMain .upleftMain_In .biaoge_list::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.01);
}

/*左上角--效率监控看板-到货--------------end------------*/
/*右上角--效率监控看板-发货--------------start------------*/

.uprightMain .uprightMain_In {
    border: 0.008rem solid rgba(14, 253, 255, 0.5);
    width: 100%;
    height: 450px;
    position: relative;
    padding: 0rem 0rem 0.08rem 0.05rem;
}

.uprightMain .uprightMain_In .biaoge {
    min-height: 400px;
}

.uprightMain .uprightMain_In .biaoge_list {
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}

.uprightMain .uprightMain_In .biaoge_list .biaoge_listIn {
    overflow: hidden;
    position: relative;
}

.uprightMain .uprightMain_In .biaoge_list .biaoge_listIn .ul_title {
    overflow: hidden;
    position: relative;
}

.uprightMain .uprightMain_In .biaoge_list .biaoge_listIn .ul_list {
    overflow: hidden;
    position: relative;
}

.uprightMain .uprightMain_In.biaoge_list .ul_title ul {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.uprightMain .uprightMain_In .biaoge_list .ul_title .ul_titleIn {
    background: linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
}

.uprightMain .uprightMain_In .biaoge_list .ul_title ul li {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #fff;
    font-size: 0.03rem;
    height: 0.06rem;
    margin-top: 0.01rem;
}

.uprightMain .uprightMain_In .biaoge_list ul li:frist-child {
    text-align: left;
}

.uprightMain .uprightMain_In.biaoge_list .ul_list ul {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.uprightMain .uprightMain_In .biaoge_list .ul_list ul li {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #fff;
    font-size: 0.03rem;
    height: 0.06rem;
    margin-top: 0.01rem;
    margin-left: 0.01rem;
}

.uprightMain .uprightMain_In .biaoge_list .ul_list .ul_con {
    border-bottom: 0.008rem solid rgba(14, 253, 255, 0.5);
}

/*滚动条整体*/
.uprightMain .uprightMain_In .biaoge_list::-webkit-scrollbar {
    /*width: 6px;*/
    height: 15px;
}

/*滚动条滑块*/
.uprightMain .uprightMain_In .biaoge_list::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px #d8d8d8;
    background: #01279d;
}

/*滚动条轨道*/
.uprightMain .uprightMain_In .biaoge_list::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.01);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0);
}

/*去除滚动条交汇白方块*/
.uprightMain .uprightMain_In .biaoge_list::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.01);
}

/*右上角--效率监控看板-发货--------------end------------*/
/*左下角--车辆信息看板-到货--------------start------------*/

.downleftMain .downleftMain_In {
    border: 0.008rem solid rgba(14, 253, 255, 0.5);
    width: 100%;
    height: 450px;
    position: relative;
    padding: 0rem 0rem 0.08rem 0.05rem;
}

.downleftMain .downleftMain_In .biaoge {
    min-height: 440px;
}

.downleftMain .downleftMain_In .biaoge_list {
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}

.downleftMain .downleftMain_In .biaoge_list .biaoge_listIn .ul_title {
    position: relative;
}

.downleftMain .downleftMain_In .biaoge_list .biaoge_listIn .ul_list {
    position: relative;
}

.downleftMain .downleftMain_In.biaoge_list ul {
    padding: 0;
    margin: 0;
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.downleftMain .downleftMain_In .biaoge_list .ul_title {
    background: linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
}

/*.downleftMain .downleftMain_In .biaoge_list .ul_con {*/
/*border-bottom: 0.008rem solid rgba(14, 253, 255, 0.5);*/
/*}*/

.downleftMain .downleftMain_In .biaoge_list ul li {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 0.06rem;
    height: 0.08rem;
    margin-top: 0.01rem;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    overflow: hidden;
}

.downleftMain .downleftMain_In .biaoge_list ul li:frist-child {
    text-align: center;
}

/*滚动条整体*/
.downleftMain .downleftMain_In .biaoge_list::-webkit-scrollbar {
    /*width: 6px;*/
    height: 15px;
}

/*滚动条滑块*/
.downleftMain .downleftMain_In .biaoge_list::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px #d8d8d8;
    background: #01279d;
}

/*滚动条轨道*/
.downleftMain .downleftMain_In .biaoge_list::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.01);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0);
}

/*去除滚动条交汇白方块*/
.downleftMain .downleftMain_In .biaoge_list::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0.01);
}

/*左下角--车辆信息看板-到货--------------end------------*/
/*右下角--车辆信息看板-发货--------------start------------*/
.downrightMain .downrightMain_In {
    border: 0.008rem solid rgba(14, 253, 255, 0.5);
    width: 100%;
    height: 450px;
    position: relative;
    padding: 0rem 0.05rem 0.08rem 0.05rem;
}

.downrightMain .downrightMain_In .biaoge {
    min-height: 400px;
}

.downrightMain .downrightMain_In .biaoge_list {
    overflow: hidden;
    position: relative;
}

.downrightMain .downrightMain_In .biaoge_list .biaoge_listIn {
    overflow: hidden;
    position: relative;
}

.downrightMain .downrightMain_In .biaoge_list .biaoge_listIn .ul_title {
    overflow: hidden;
    position: relative;
}

.downrightMain .downrightMain_In .biaoge_list .biaoge_listIn .ul_list {
    overflow: hidden;
    position: relative;
}

.downrightMain .downrightMain_In.biaoge_list .ul_title ul {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.downrightMain .downrightMain_In .biaoge_list .ul_title .ul_titleIn {
    background: linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
}

.downrightMain .downrightMain_In .biaoge_list .ul_title ul li {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #fff;
    font-size: 0.03rem;
    height: 0.06rem;
    margin-top: 0.01rem;
}

.downrightMain .downrightMain_In .biaoge_list ul li:frist-child {
    text-align: left;
}

.downleftMain .downleftMain_In.biaoge_list .ul_list ul {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.downrightMain .downrightMain_In .biaoge_list .ul_list ul li {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #fff;
    font-size: 0.03rem;
    height: 0.06rem;
    margin-top: 0.01rem;
    margin-left: 0.01rem;
}

.downrightMain .downrightMain_In .biaoge_list .ul_list .ul_con {
    border-bottom: 0.008rem solid rgba(14, 253, 255, 0.5);
}

/*右下角--车辆信息看板-发货--------------end------------*/
